body {
  background-color: white;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
}

.fondo {
  display: flex;
  height: 100vh;
}

#fondo1 {
  width: 40%;
  background-color: dimgray;
  opacity: 1;
  margin: 0;
  padding: 0;
}

#fondo2 {
  width: 60%;
  background-color: lightgray;
  opacity: 1;
  margin: 0;
  padding: 0;
}

.panel {
  background-color: whitesmoke;
  display: block;
  position: absolute;
  left: 25%;
  top: 25%;
  border: 2px solid white;
  width: 40%;
  height: 50%;
  border-radius: 25px;
}

#logPanel {
  float: right;
  display: flex;
  width: 62.5%;
  height: 50vh;
}

form {
  font-size: 1rem;
  align-items: center;
  width: auto;
  height: 50vh;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15%;
  right: 10%;
}

#imageLog img {
  display: block;
  position: absolute;
  left: 5%;
  bottom: 25%;
  width: 35%;
  opacity: 0.8;
  border-radius: 50%;
}

h1 {
  font-size: 1.5rem;
}

input[type="text"],
input[type="password"],
input[type="button"] {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  font-size: 1rem;
  text-align: center;
  border-radius: 5px;
}

input[type="button"]:hover {
  background-color: #4caf50;
  cursor: pointer;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  form {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 1.3rem;
  }

  input[type="text"],
  input[type="password"],
  input[type="button"] {
    font-size: 0.9rem;
  }
}

#openModalBtn {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 25%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  font-size: 1rem;
  text-align: center;
  border-radius: 5px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  font-size: 1rem;
  align-items: center;
  height: 50vh;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  border: 2px solid dimgray;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #4caf50;
  cursor: pointer;
}

#formRegister {
  font-size: 1rem;
  align-items: center;
  width: auto;
  height: 50vh;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25%;
  left: 10%;
}
